*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.wrapper{
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form{
  width: 400px;
  height: auto;
  margin: 20px auto;
}

.input-and-btn{
  display: flex;
}

.todo-box{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-box .content{
  display: flex;
}

.todo-box .content p{
  margin-top: -6px;
  margin-left: 6px;
}

.todo-box span{
  margin: 0 5px;
}

.delete-all{
  width: 400px;
}

.actions-box{
  cursor: pointer;
}

.back-btn{
  margin-top: 5px;
  width: 100%;
}
